.center{
  border-top: 5px solid greenyellow;
  
  position: absolute;
  border-radius: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 90px;
  height: 600px;
}
.login__image{
    height: 250px;
    position: relative;
}
.login__content > form{
    
    /* background-color: red; */
    
    height:340px;
    margin-bottom:-20px !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
 .center > .login__content > form:hover{
 
    border-bottom: 5px solid red;
  
}

@media only screen and (max-width: 960px){
  .center{
    width:90%;
  }
  .center > .login__content > form:hover{
 
    border-bottom: 5px solid red;
  
}
}