@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&family=Pacifico&display=swap');

.menu__footer{
    background-color: #20273a;
    width: 100%;
}
.menu__body{
    padding-top: 80px;   
    padding-bottom: 10px;  
    padding-left: 10px;  
    padding-right: 10px;  
}
.menu__body__section1{
    text-align: center;
}
.menu__body__section1>h5{
    font-family: 'Pacifico', cursive;
    color: #FEA116 ;
    font-weight: 400;
    font-size: 1.25rem;

}
.menu__body__section1>h5::before{
    display: inline-block;
        content: "";
        border-top: .18rem solid #fea116;
        width: 3rem;
        margin-left: 0.5rem;
        margin-bottom: 0.4rem;
        transform: translateY(-2.4rem);
        transform: translateX(-0.8rem);
}
.menu__body__section1>h5::after{
    display: inline-block;
        content: "";
        border-top: .18rem solid #fea116;
        width: 3rem;
        margin-left: 0.5rem;
        margin-bottom: 0.4rem;
        transform: translateY(-2.4rem);
        transform: translateX(0.2rem);
}
.menu__body__section1>h1{
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-family: "Nunito",sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #0F172B;
}